<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Inicio</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('buscar') }}">Buscar Ciudad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('insertar') }}">Insertar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('actualizar') }}">Actualizar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('eliminar') }}">Eliminar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('crear_tabla') }}">Crear Tabla</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('borrar_tabla') }}">Borrar Tabla</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
