<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subir Archivos desde una Carpeta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Selecciona una Carpeta para Subir Archivos</h1>
        <form id="uploadForm" method="POST" action="/buscar"">
            <input type="text" name="inputData"/>
            <input type="submit" />
        </form>
        <div id="fileList" class="mt-3"></div>
    </div>
</body>
</html>
