{% extends 'base.html' %}

{% block title %}Insertar Predicciones{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Selecciona una Carpeta para Subir Archivos</h1>
        <form id="uploadForm" method="POST" action="/buscar" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Selecciona los archivos</label>
                <input class="form-control" type="file" id="formFile" name="files" multiple>
            </div>
            <button type="submit" class="btn btn-primary w-100">Subir Archivos</button>
        </form>
        <div id="fileList" class="mt-3"></div>
    </div>

    <script>
        document.getElementById('formFile').addEventListener('change', function(event) {
            const fileList = event.target.files;
            const fileListDiv = document.getElementById('fileList');
            fileListDiv.innerHTML = '<h5>Archivos seleccionados:</h5><ul>';
            for (let i = 0; i < fileList.length; i++) {
                fileListDiv.innerHTML += `<li>${fileList[i].name}</li>`;
            }
            fileListDiv.innerHTML += '</ul>';
        });
    </script>
{% endblock %}
